{% if site.data.profile.education %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-graduation-cap"></i> Education</h6>
    <div class="px-3 pb-2">
        {% for item in site.data.profile.education %}
        <div class="py-2 {% unless forloop.last %}border-bottom border-gray{% endunless %}">
            <div class="d-flex">
                <div>
                    <strong>{{ item.name }}</strong><br/>
                    <span class="small">{{ item.position }}</span>
                </div>
                <div class="ml-auto text-right no-break small text-muted mt-1"><em>{{ item.date }}</em></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if site.data.profile.experience %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-briefcase"></i> Experience</h6>
    <div class="px-3 pb-2">
        {% for item in site.data.profile.experience %}
        <div class="py-2 {% unless forloop.last %}border-bottom border-gray{% endunless %}">
            <div class="d-flex">
                <div>
                    <strong>{{ item.name }}</strong><br/>
                    <span class="small">{{ item.position }}</span>
                </div>
                <div class="ml-auto text-right no-break small text-muted mt-1"><em>{{ item.date }}</em></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if site.data.profile.awards %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-award"></i> Honors & Awards</h6>
    <div class="px-3 pb-2">
        {% for item in site.data.profile.awards %}
        <div class="py-1">
            <div class="d-flex small">
                <div>{{ item.name }}</div>
                <div class="ml-auto mt-auto no-break text-muted"><em>{{ item.date }}</em></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
